/* Global reset */
* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.bg-video {
    width: 100%;
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(19, 152, 35);
}


.video-container h1 {
    color: rgb(231, 199, 60);
    margin-top: -35px;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 5rem;
    width: 90%;
}

/* - ------------------Navigations bar---------------------------------------------------------------------- */

.logo {
    width: 60px;
    position: relative;
    margin-left: 30px;
    margin-top: 15px;
}

.logo a {
    font-size: 20px;
    position: inherit;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logo:hover {
    transform: scale(1.1);
}

.background-color {
    background-color: #202e1f;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202e1f;
}

nav ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    flex-direction: row;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 18px 18px;
    display: block;
    font-weight: 700;
    letter-spacing: 0.04049rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: -25px;
}

nav ul li a:hover {
    color: rgb(239, 235, 28);
    line-height: 1.1875rem;
    text-decoration: navy;
}

/* - ---------------------------------------------------------------------------------------- */


/* - ---------------------Rolling cans------------------------------------------------------------------- */

.cans-container {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 1rem;
    padding-bottom: 50px;
}

.cans {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    min-width: 100%;
    animation: scroll 10s linear infinite;
}

.can {
    width: 150px;
    height: 300px;
    margin-top: 50px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes rollCan {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translate(1200%, 0);
    }
}

/* - --------------------------smag vores nye-------------------------------------------------------------- */


.p1 {
    color:rgb(88, 114, 130);
    font-size: 70px;
    font-weight: 900;
    margin-top: -20px;
    
}

.p2 {
    color: rgb(88, 114, 130);
    font-size: 35px;
    font-weight: 900;
    line-height: 1.6;
    padding-top: 60px;
    position: relative;
    margin-top: -15px;
    width: 100%;
    height: 80vh;
    background-color:#fffdd0;
}

/* - ---------------------------rolling cans------------------------------------------------------------- */

.cane4 {
    width: 100%;
    height: auto;
    animation: swingPicture 5s infinite;
}

@keyframes swingPicture {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* - ----------------------sundhed------------------------------------------------------------------ */

h1 {
    font-size: 45px;
    font-weight: 890;
    padding: 60px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-right: 60px;
    color: rgb(231, 199, 60);
    font-size: 10px;
    font-weight: 900;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.p3 {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color:  #202e1f;
}

.p3 p {
    padding: 10px;
    font-size: 26.5px;
    text-align: left;
    line-height: 1.6;
}

.p3 h1 {
    padding: 10px;
    color: rgb(231, 199, 60);
    font-size: 60.5px;
}

.cane4 {
    width: 100px;
    margin: 30px;
    float: right;
}

.cane3 {
    width: 100px;
    float: right;
    margin-right: -190px;
    margin-top: 95px;
    position: relative;
    z-index: 99;
}

/* - -----------------------pics----------------------------------------------------------------- */

.doctor {
    width: 600px;
    height: auto;
    float: right;
    margin-top: 180px;
}

.doctor-small {
    width: 300px;
    height: auto;
    float: right;
}

.can6 {
    width: 110px;
 
}

/* footer start */

.footer {
    padding: 40px;
    background-color: #fffdd0;
}


.social {
    text-align: center;
    padding: 25px;
    color: rgb(88, 114, 130);
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(88, 114, 130);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover {
    opacity: 1;
    color: rgb(88, 114, 130);
}


.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(88, 114, 130);
}

.footer {
    width: 100%;
    bottom: 0;
}

/* footer slut */

/* - ---------------------------------------------------------------------------------------- */

@media screen and (max-width: 430px) {
    /* Styles for smartphones */
    .doctor {
        width: 90px;
    }
    .doctor-small {
        width: 90px;
        float: none;
    }

    s
    .p3 {
        display: block;
    }
    .p3 h1 {
        font-size: 1.75rem;
    }
    .p3 p {
        font-size: 1rem;
    }
    .overlay-text h1 {
        font-size: 2.5rem;
        margin-top: -410px;
    }
    .text-container .p2 p {
        font-size: 1.5rem;
        padding: 20px;
    }
    .p2-space {
        margin-top: 10px;
    }
    .video-container h1 {
        font-size: 2rem;
    }
    nav ul li a {
        font-size: 0.6rem;
        padding: 5px 5px;
        margin-top: 5px;
    }
    nav ul {
        top: 50px;
    }
    .logo {
        position: relative;
        margin-left: 10px;
    }
    .can6 {
        margin-top: -100px;
        width: 60px;
        margin-right: 10px;
    }

    .cane3 {
        width: 60px;
        margin-right: -100px;
        margin-top: 90px;
        position: relative;
    }
}
