/* Global reset */

* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
}
.video-container h1 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: 550;
}

/* - ------------------Navigations bar---------------------------------------------------------------------- */

.logo {
    width: 60px;
    position: relative;
    margin-left: 30px;
    margin-top: 15px;
}

.logo:hover {
    /* Ændre størrelse på hover */
    transform: scale(1.1);
}

.background-color {
    background-color: #ffffff;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222522;
}

nav ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 50px;
    right: 10px;
    flex-direction: row;
}


nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 18px 18px;
    display: block;
    font-weight: 700;
    letter-spacing: 0.04049rem;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: -25px;
}

nav ul li a:hover {
    color: rgb(255, 246, 122);
    line-height: 1.1875rem;
    /* display: block; */
    text-decoration: navy;
}

/* - ---------------------------------------------------------------------------------------- */


.overlay-text h1 {
    display: block;
    font-size: 4rem;
    margin-top: -810px;
    text-align: center;
    color: rgb(81, 81, 17);
    transition: 0.5s;
}


/* - ---------------------Rolling cans------------------------------------------------------------------- */

.cans-container {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 1rem;
    padding-bottom: 50px;
}

.cans {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    min-width: 100%;
    animation: scroll 10s linear infinite;
}

.can {
    width: 150px;
    height: 300px;
    margin-top: 50px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes rollCan {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translate(1200%, 0);
    }
}

/* - --------------------------smag vores nye-------------------------------------------------------------- */





.p1 {
    color: #92ee92;
    font-size: 50px;
    font-weight: 900;
    /* line-height: 1.6; */
    /* padding: 60px; */
    margin-top: -20px;
}

.p2 {
    color: #999f99;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.6;
    padding-top: 60px;
    position: relative;
    margin-top: -80px;
}

/* - ---------------------------rolling cans------------------------------------------------------------- */


.cane4 {
    width: 100%;
    height: auto;
    animation: swingPicture 5s infinite;
}

@keyframes swingPicture {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* - ----------------------sundhed------------------------------------------------------------------ */

h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 890;
    padding: 60px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-right: 60px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.6;
    padding: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.p3 {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;
    background-color: #98ab98;
}

.p3 p {
    padding: 10px;
    font-size: 26.5px;
    text-align: left;
}

.p3 h1 {
    padding: 10px;
    color: #92ee92;
    font-size: 60.5px;

}
.cane4{
    width: 100px;
    margin: 30px;
    float: right;
}


/* - -----------------------pics----------------------------------------------------------------- */

.doctor {
    width: 800px;
    height: auto;
    float: right;

}

.doctor-small {
    width: 400px;
    height: auto;
    float: right;
}

.can6 {
    width: 90px;
    margin-top: -550px;
    float: right;
}

/* - ---------------------------------------------------------------------------------------- */

@media screen and (max-width: 430px) {
    /* Styles for smartphones */
    .doctor {
        width: 400px;
    }
    .doctor-small {
        width: 200px;
        float: none;
    }
    
    .p3 {
        display: block;
    }
    .p3 h1 {
        font-size: 1.75rem;
    }
    .p3 p {
        font-size: 1rem;
    }
    .overlay-text h1 {
        font-size: 2.5rem;
        margin-top: -410px;
    }
    .text-container .p2 p {
        font-size: 1.5rem;
        padding: 20px;
    }
    .p2-space {
        margin-top: 10px;
    }
    .video-container h1 {
        font-size: 2rem;
    }
    nav ul li a {
        font-size: 0.6rem;
        padding: 5px 5px;
        margin-top: 5px;
    }
    nav ul {
        top: 50px;
    }
    .logo {
        position: relative;
        margin-left: 10px;
    }
    .can6 {
        margin-top: -100px;
        width: 60px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 725px) {
    /* Styles for tablet and desktop. */
}